// DEEP GRAY
// #323947;

body {
  margin: 0;
  background-color: #323947;
  border-color: 2px solid red;
}

nav {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 5%;
  background-color: blue;
}

main {
  display: grid;
  height: 100vh;
  place-items: center;
}

.widgets-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas:
  "userInfo userInfo lateststepsmiles latestminactive usergoalvsavg"
  "waterconsumed latestsleepdata alltimesleepavg activityvsuserbase activityvsuserbase"
  "wateroverweek latestsleepoverweek weeklyactivitydata weeklyactivitydata weeklyactivitydata";
}

.widgets-container {
  width: 90%;
  height: 80%;
}

.widgets-container * {
  background-color: lightgray;
}

#userinfo {
  // background-color: lightgray;
  grid-area: userInfo;
}

#lateststepsmiles {
  // background-color: lightgray;
  grid-area: lateststepsmiles;
}

#latestminactive {
  grid-area: latestminactive;
}

#usergoalvsavg {
  grid-area: usergoalvsavg;
}

#waterconsumed {
  grid-area: waterconsumed;
}

#latestsleepdata {
  grid-area: latestsleepdata;
}

#alltimesleepavg {
  grid-area: alltimesleepavg;
}

#activityvsuserbase {
  grid-area: activityvsuserbase;
}

#wateroverweek {
  grid-area: wateroverweek;
}

#latestsleepoverweek {
  grid-area: latestsleepoverweek;
}

#weeklyactivitydata {
  grid-area: weeklyactivitydata;
}
