// DEEP GRAY
// #323947;

body {
  margin: 0;
  background-color: #323947;
}

nav {
  top: 0;
  position: fixed;
  width: 100vw;
  min-height: 5%;
  max-height: 10%;
  background-color: #001a4d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 5;
}

.date-picker,
.add-entry {
  border-radius: 50%;
  height: 50px;
  width: 50px;
	border: none;
  margin: 20px;
}


.fa-calendar-alt,
.fa-plus {
  font-size: 20px;
}

.calendar-and-add{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.friends-drop-down {
  color: black;
  background-color: lightgray;
  width: 95px;
  height: 40px;
  border: none;
  border-radius: 20px;
  margin: 26px;
  // position: absolute;
}

.dropdown-content {
  align-items: center;
  display: flex;
  background-color: #202020;
  width: 185px;
  height: 150px;
  // transform: translate(-8px, 124px);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.friend-details {
  font-size: 16px;
  color: white;
  line-height: 2;
  text-align: center;
}

.friendsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}


main {
  display: grid;
  height: 100vh;
  place-items: center;
}

// canvas {
//   min-width: 0;
// }

.widgets-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas:
  "userInfo userInfo lateststepsmiles latestminactive usergoalvsavg"
  "waterconsumed latestsleepdata alltimesleepavg activityvsuserbase activityvsuserbase"
  "wateroverweek latestsleepoverweek weeklyactivitydata weeklyactivitydata weeklyactivitydata";
}

.widgets-container {
  margin-top: 5%;
  width: 90%;
  height: 80%;
}

.widgets-container * {
  background-color: lightgray;
  min-width: 0;
  display: grid;
  place-items: center;
}



#lateststepsmiles div {
  overflow: auto;
  position: relative;
}

#userinfo {
  // background-color: lightgray;
  grid-area: userInfo;
}

#lateststepsmiles {
  // background-color: lightgray;
  position: relative;
  grid-area: lateststepsmiles;
}

#lateststepsmiles::after {
  content: attr(data-before);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  transform: translate(121px, 128px);
  z-index: 2;
  opacity: 0;
}

#latestminactive {
  grid-area: latestminactive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px;
}

#usergoalvsavg {
  grid-area: usergoalvsavg;
}

#waterconsumed {
  grid-area: waterconsumed;
  place-items: center;
}

#water-chart {
  background: url(https://i.imgur.com/sZLs3Vr.png?3) no-repeat center;
  background-size: 60px;
}

#latestsleepdata {
  grid-area: latestsleepdata;
}

#alltimesleepavg {
  grid-area: alltimesleepavg;
}

#activityvsuserbase {
  grid-area: activityvsuserbase;
}

#wateroverweek {
  grid-area: wateroverweek;
}

#latestsleepoverweek {
  grid-area: latestsleepoverweek;
}

#weeklyactivitydata {
  grid-area: weeklyactivitydata;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#latestminactive h3,
.last-min-active {
  margin: 0 auto;
}

#latestminactive h3 {
  text-align: center;
  width: 100%;
}

.last-min-active {
  font-size: 42px;
}

#weeklyactivitydata div {
  min-width: 0;
}

#minStairsAvgChart,
#stepsAvgChart {
  height: 300;
}




@media only screen and (max-width: 950px) {

  main {
    display: flex;
    flex-direction: column;
  }

  #lateststepsmiles::after {
    transform: translate(114px, 120px);
  }

  .widgets-container {
    margin-top: 16%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "userInfo userInfo lateststepsmiles"
    "waterconsumed latestsleepdata alltimesleepavg"
    "wateroverweek latestsleepoverweek latestminactive"
    "usergoalvsavg activityvsuserbase activityvsuserbase"
    "weeklyactivitydata weeklyactivitydata weeklyactivitydata"
  }

}



@media only screen and (max-width: 550px) {

  main {
    display: flex;
    flex-direction: column;
  }

  #lateststepsmiles::after {
    transform: translate(140px, 146px);
  }

  .widgets-container {
    margin-top: 36%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "userInfo"
    "lateststepsmiles"
    "usergoalvsavg"
    "waterconsumed"
    "latestsleepdata"
    "latestminactive"
    "alltimesleepavg"
    "activityvsuserbase"
    "wateroverweek"
    "latestsleepoverweek"
    "weeklyactivitydata"
  }

  #weeklyactivitydata {
    display: flex;
    height: 600px;
    flex-direction: column;
  }

  #weeklyactivitydata div {
    position: relative;
  }

  #minStairsAvgChart,
  #stepsAvgChart {
    height: 200;
  }

}






// ---------MODAL-----------

.user-input-modal {
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: flex-start;
  display: flex;
  display: none;
}

.user-input-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 0px;
  border: 1px solid #888;
  width: 35%;
  height: 80%;
  overflow-y: scroll;
  box-shadow: 0px 7px 29px 0px black;
  // transform: translate(-273px, -63px);
}

.fa-times-circle {
  font-size: 34px;
}

.fa-times-circle:hover {
  transform: scale(1.1)
}

.close-modal {
  background-color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
	border: none;
  margin: 6px 0px 0px 0px;
  padding: 0px;
}


h2 {
  text-align: center;
}

.user-input-header {
  text-align: center;
}

.user-input-sleep,
.user-input-hydration,
.user-input-activity {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.user-input-sleep {
  background-color: yellow;
}

.user-input-hydration {
  background-color: lightblue;
}

.user-input-activity {
  background-color: lightgreen;
}


.hidden {
  display: none;
}
